.my-post-title{
    font-size: 30px;
    font-weight: bold;
    margin: 2%;
    color: white;
    font-style: italic;
}

.no-post-txt{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10%;
    color: white;
}

.no-my-post-container{
    height: 100vh;
}

.my-post-list-container{
    height: 100vh;
}