.list-post {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin: 20px 20px 20px 20px;
    padding-top: 20px;
}