.profile-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 23, 23);
    height: 100vh;
}

.profile-card{
    width: auto;
    height: auto;
    min-height: 500px;
    margin-top: 5%;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgb(111, 108, 108);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(13, 12, 12);
    color: white;
}

.profile-avatar{
    margin-bottom: 5%;
}

.profile-name{
    font-weight: bold;
    margin-bottom: 30%;
}

.edit-btn{
    display: flex;
    flex-direction: column;
    padding: 5px 20px 5px 20px;
    margin-top: 25%;
}